*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --color-dark-theme: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-color: #2f303a;
  --logo-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --social-link-color: #afb1b8;
  --social-dark-theme: rgba(255, 255, 255, 0.1);
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
}
/* index.html */

/* HEADER */

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.header .address {
  display: flex;
  margin-left: auto;
}

.address-item {
  margin-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 92px;
  display: block;
  padding: 25px 0;
}

.logo-color {
  color: var(--accent-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: block;
  padding: 32px 0 0 0;
}

.navigation-list .current {
  color: var(--accent-color);
}

.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  margin-top: 32px;
  font-size: 0;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-mail,
.address-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
  padding: 32px 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

.address-mail,
.address-tel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-mail-svg,
.address-mail-svg {
  margin-right: 10px;
  fill: var(--main-color);
}

.address-mail:hover .address-mail-svg,
.address-tel:hover .address-mail-svg {
  fill: var(--accent-color);
}

/* HERO */
.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-dark-theme);
  display: block;
  width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  font-style: normal;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-theme);
  background: var(--accent-color);
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
}

/* ADVANTAGES */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  align-items: center;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.advantages-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/advantages/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  background-image: url(../images/advantages/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  background-image: url(../images/advantages/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  background-image: url(../images/advantages/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ABOUT US */

.about {
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.about-item {
  position: relative;
}

.about-thumb::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark-theme);
}

.about-list {
  display: flex;
  align-items: center;
}

.desktop::before {
  content: "Десктопные приложения";
}

.mobile::before {
  content: "Мобильные приложения";
}

.design::before {
  content: "Дизайнерские решения";
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

/* OUR TEAM */
.team {
  background: var(--team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  align-items: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 10px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.name-container {
  padding: 30px 32px;
  background: var(--color-dark-theme);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.svg-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-dark-theme);
}

.social-list-link:hover .social-list-svg {
  fill: var(--color-dark-theme);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
}

.social-list-link:hover {
  background-color: var(--accent-color);
}

/* CLIENTS */
.clients {
  padding-top: 94px;
}

.title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-list-link:hover {
  border: 1px solid var(--accent-color);
}
.clients-list-link:hover .clients-list-svg {
  fill: var(--accent-color);
}
.clients-list-svg {
  fill: var(--social-link-color);
}
/* FOOTER */
.footer {
  background: var(--background-color);
  padding-top: 60px;
}

.footer .logo {
  display: block;
  padding-bottom: 0;
  margin-right: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.logo-dark-theme {
  color: var(--color-dark-theme);
}

.footer-address-link,
.footer-mail,
.footer-tel:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.footer-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-dark-theme);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.position {
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
}

.contacts-container {
  margin-right: 70px;
}

.social-container {
  width: 206px;
  height: 80px;
}
.social-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark-theme);
}
.social-list-item {
  display: flex;
}
.social-dark-theme-color {
  background-color: var(--social-dark-theme);
}
.social-dark-theme {
  fill: var(--color-dark-theme);
}
/* portfolio.html */
/* HEADER */

.header {
  border: 1px solid #ececec;
}
/* GALERY */

.galery {
  padding: 94px 0;
}

.galery-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galery-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
}

.galery-list {
  margin-bottom: 50px;
}

.galery-item {
  align-items: center;
}

.galery-item:not(:last-child) {
  margin-right: 8px;
}

.galery-button:hover,
.galery-button:focus {
  color: var(--color-dark-theme);
  background: var(--accent-color);
}

.picture {
  display: flex;
  flex-wrap: wrap;
}

.picture-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.picture-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.picture-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.picture-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.picture-container {
  background: var(--color-dark-theme);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}

.picture-link:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
